In [1]:
import pandas as pd
import numpy as np

/Users/ignaciotaylor/.pyenv/versions/3.8.12/envs/fake_news/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
from detecting_fake_news.preprocessing import TextPreprocessor

In [2]:
def load_train_data():
    df = pd.read_csv('../raw_data/fake-news/train.csv')
    df = df[['text', 'label']].dropna(axis=0)
    return df.copy()

In [5]:
df = load_train_data()
df_test = df.head().copy()
df_test

                                                text  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1  Ever get the feeling your life circles the rou...      0
2  Why the Truth Might Get You Fired October 29, ...      1
3  Videos 15 Civilians Killed In Single US Airstr...      1
4  Print \nAn Iranian woman has been sentenced to...      1

# test case: `pd.Series` input

In [9]:
X1 = df_test['text']
X1

0    House Dem Aide: We Didn’t Even See Comey’s Let...
1    Ever get the feeling your life circles the rou...
2    Why the Truth Might Get You Fired October 29, ...
3    Videos 15 Civilians Killed In Single US Airstr...
4    Print \nAn Iranian woman has been sentenced to...
Name: text, dtype: object

In [10]:
processor = TextPreprocessor()
processor.fit(X1)
processor.transform(X1)

0    house dem aide even see comey letter jason cha...
1    ever get feeling life circle roundabout rather...
2    truth might get fired october tension intellig...
3    video civilian killed single u airstrike ident...
4    print iranian woman ha sentenced six year pris...
Name: text, dtype: object

# test case: `pd.DataFrame` with `1 column` input

In [13]:
X2 = df_test[['text']]
X2

                                                text
0  House Dem Aide: We Didn’t Even See Comey’s Let...
1  Ever get the feeling your life circles the rou...
2  Why the Truth Might Get You Fired October 29, ...
3  Videos 15 Civilians Killed In Single US Airstr...
4  Print \nAn Iranian woman has been sentenced to...

In [12]:
processor = TextPreprocessor()
processor.fit(X2)
processor.transform(X2)

0    house dem aide even see comey letter jason cha...
1    ever get feeling life circle roundabout rather...
2    truth might get fired october tension intellig...
3    video civilian killed single u airstrike ident...
4    print iranian woman ha sentenced six year pris...
Name: text, dtype: object

# test case: `pd.DataFrame` with `2 column` input

In [14]:
X3 = df_test[['text']]
X3['text2'] = df_test['text']
X3

,text,text2
0,House Dem Aide: We Didn’t Even See Comey’s Let...,House Dem Aide: We Didn’t Even See Comey’s Let...
1,Ever get the feeling your life circles the rou...,Ever get the feeling your life circles the rou...
2,"Why the Truth Might Get You Fired October 29, ...","Why the Truth Might Get You Fired October 29, ..."
3,Videos 15 Civilians Killed In Single US Airstr...,Videos 15 Civilians Killed In Single US Airstr...
4,Print \nAn Iranian woman has been sentenced to...,Print \nAn Iranian woman has been sentenced to...

In [15]:
processor = TextPreprocessor(punct=False)
processor.fit(X3)
processor.transform(X3)

,text,text2
0,house dem aide even see comey letter jason cha...,house dem aide even see comey letter jason cha...
1,ever get feeling life circle roundabout rather...,ever get feeling life circle roundabout rather...
2,truth might get fired october tension intellig...,truth might get fired october tension intellig...
3,video civilian killed single u airstrike ident...,video civilian killed single u airstrike ident...
4,print iranian woman ha sentenced six year pris...,print iranian woman ha sentenced six year pris...

# test case: `pd.Series` - turn all cleaning steps off !

In [16]:
X4 = df_test['text']
X4

0    House Dem Aide: We Didn’t Even See Comey’s Let...
1    Ever get the feeling your life circles the rou...
2    Why the Truth Might Get You Fired October 29, ...
3    Videos 15 Civilians Killed In Single US Airstr...
4    Print \nAn Iranian woman has been sentenced to...
Name: text, dtype: object

In [17]:
processor = TextPreprocessor(new_line=False, punct=False, lower=False, accent=False, 
                             numbers=False, stemm=False, lemm=False, stop_words=False)
processor.fit(X4)
processor.transform(X4)

0    House Dem Aide : We Didn ’ t Even See Comey ’ ...
1    Ever get the feeling your life circles the rou...
2    Why the Truth Might Get You Fired October 29 ,...
3    Videos 15 Civilians Killed In Single US Airstr...
4    Print An Iranian woman has been sentenced to s...
Name: text, dtype: object

⚠️ **and result should be untouched...**